@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #06b9c6 0.52%, #00ffc3 100%);
    --secondaryGradient: linear-gradient(268.91deg, #038b6b -2.14%, #00fffb 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #015a60;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #f1f1f1;
}

a{
    text-decoration: none;
    color: #000000;
}

img{
    object-fit: cover;
    object-position: top;
}

nav{
    padding: 20px 148px;
    background-color: rgba(0, 255, 5, 0.403);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

nav .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .logo img{
    width: 62.5px;
    height: 62.5px;
}

nav .logo a{
    font-size: 30px;
    font-weight: bold;
    color: #3e3e3e;
}

nav .nav-links{
    font-size: 17.5px;
    margin-left: 40%;
    display: flex;
    gap: 16px;
}

nav .nav-links a{
    transition: color 0.3s ease;
    text-decoration: none;
}

nav .nav-links a:hover,
nav .nav-links a.selected{
    color: #087203;
}

.container{
    background-color: #ffffff;
    padding: 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 30px;
    width: 100%px;
    max-width: 2500px;
    border-radius: 7.5px;
    height: 625px;
    border: black
}

.modform {
    padding: 40px;
    flex: 1;
    background: linear-gradient(to right, #d3f9d4, #e5ffe5, #ffffff);
    box-shadow: 0 0 20px rgb(1, 24, 3);
}

form{
    overflow: hidden;
    padding: 50px;
    border-radius: 10px;
    opacity: 0; /* Comienza invisible */
    transform: translate;
    animation: appear 0.75s forwards; /* Aplicar la animación */
}

h1 {
    text-align: center;
    color: black;
    
}

input {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    font-size: 15px;
}

input:hover {
    transition: 0.25s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.325);
}

button {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 75%;
    padding: 20px;
    background-color: rgb(255, 255, 236);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: #000000;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    font-size: 17.5px;
    font-family: 'Roboto';
}

button:hover {
    background-color: #069335;
    transition: 0.25s;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background: linear-gradient(to bottom, #069335, #068731, #06ba42);
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.message {
    text-align: center;
    color: black;
}

.message a{
    text-decoration: none;
}
.message a:hover{
    color: black;
    transition: 0.1s;
    font-weight: bold;
}

.imagenlogin {
    flex: 1;
    overflow: hidden;
}

.imagenlogin img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene la relación de aspecto */
}

footer{
    margin-top: 200px;
    padding-bottom: 50px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00521e;
}

footer p{
    color: white;
}

footer .socials{
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 20px;
}

footer .socials i{
    font-size: 50px;
    cursor: pointer;
    transition: color 0.3s ease;
    color: white;
}

footer p{
    font-size: 14px;
}

.page-title{
    padding: 80px 234px 20px;
    width: 100%;
}

.facebook:hover{
    color: #162ec9;
}

.instagram:hover{
    color: #e05708;
}

.twitter:hover{
    color: #06ffff;
}

.linkedin:hover{
    color: #4d62e8;
}

@media screen and (max-width: 1400px) {
    
    nav{
        padding: 20px 60px;
    }

    .main{
        padding: 0 60px;
    }

    .recent{
        padding: 60px;
    }

    .featured,
    .separator{
        padding: 40px 60px 0;
    }

    .page-title{
        padding: 80px 60px 20px;
    }

}

@media screen and (max-width: 1200px) {
    
    nav{
        padding: 20px 40px;
    }

    .main{
        padding: 0 40px;
    }

    .main img{
        width: 340px;
        height: 340px;
    }

    .recent{
        padding: 40px;
    }

    .featured,
    .separator{
        padding: 40px 40px 0;
    }

    .featured .item .details p,
    .works-list .item .details p{
        width: 100%;
    }

    .page-title{
        padding: 80px 40px 20px;
    }

    .content .work-info,
    .content>p,
    .content>img,
    .content>h1,
    .content>h2,
    .content>h3,
    .content .post-list .post-item,
    .content .container{
        width: 100%;
    }

    .content .container img{
        width: 250px;
        height: 250px;
    }

    .content .container h2{
        font-size: 24px;
        margin-bottom: 10px;
    }

    .content .container .about>p{
        font-size: 14px;
    }

}

@media screen and (max-width: 992px) {
    
    nav{
        padding: 20px;
    }

    .main{
        padding: 0 20px;
    }

    .main img{
        width: 300px;
        height: 300px;
    }

    .main .info h1{
        font-size: 34px;
    }

    .main .info p{
        font-size: 15px;
    }

    .main .info button{
        font-size: 15px;
        padding: 8px 22px;
    }

    .recent{
        padding: 40px 20px;
    }

    .recent .posts .post-item{
        width: 100%;
    }

    .recent .posts .post-item h3,
    .content .post-list .post-item h3{
        font-size: 20px;
    }

    .recent .posts .post-item .info h5,
    .content .post-list .post-item .info h5{
        font-size: 14px;
    }

    .recent .posts .post-item p{
        width: 100%;
        font-size: 14px;
    }

    .featured,
    .separator{
        padding: 40px 20px 0;
    }

    .featured .item,
    .works-list .item{
        flex-direction: column;
        padding: 0 20px 30px;
    }

    .featured .item img,
    .works-list .item img{
        width: 100%;
        height: auto;
    }

    .featured .item .details h3,
    .works-list .details .item h3{
        font-size: 24px;
        margin-bottom: 12px;
    }

    .featured .item .details .item-info .year-badge,
    .works-list .item .details .item-info .year-badge{
        font-size: 12px;
    }

    .featured .item .details .item-info h4,
    .works-list .item .details .item-info h4{
        font-size: 15px;
    }

    .featured .item .details p,
    .works-list .item .details p{
        font-size: 14px;
    }

    .content{
        padding: 30px 20px 60px;
    }

    .content .container h2{
        font-size: 20px;
    }

    .content .container .about>p{
        font-size: 13px;
    }

}

@media screen and (max-width: 768px) {
    
    nav{
        justify-content: center;
    }

    nav .logo{
        display: none;
    }

    .main{
        flex-direction: column;
        justify-content: space-around;
        margin: 40px 0;
        height: auto;
    }

    .main .info h1{
        font-size: 30px;
        margin-bottom: 16px;
    }

    .main .info p{
        margin-bottom: 16px;
    }

    .main .info button{
        padding: 6px 20px;
        font-size: 13px;
    }

    .main img{
        margin-top: 20px;
        width: 100%;
        height: auto;
        border-radius: 50px;
    }

    .recent .posts,
    .content .container{
        flex-direction: column;
    }

    .content .container img{
        width: 100%;
        height: auto;
    }

}



/* CHATBOX
=============== */
.chatbox {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__footer button{
    background-color: rgb(0, 0, 0); 
    border-radius: 30%;
}

.chatbox__footer button:hover{
    transition: 0.2s;
    background-color: rgba(3, 108, 124, 0.395); 
    box-shadow: 1px 1px 5px #00ffd9ae;
}


.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: black;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.792);
    cursor: pointer;
}

.chatbox__button button:hover{
    transition: 0.5s;
    background: rgba(10, 61, 0, 0.797);
    box-shadow: 10px 10px 10px rgb(194, 255, 192);
}

.chatbox__button img{
    height: 42.5px;
    width: 50px;
}

.contenido{
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    display: flex;
}
.mostrador{
    width: 100%;
    transition: .5s ease;
}
.mostrador .fila{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.mostrador .fila .item{
    max-width: 210px;
    padding: 30px;
    height: 400px;
    box-shadow: 1px 1px 5px rgb(4, 34, 4);
    text-align: center;
    margin: 0.1%;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
    background-color: #c7c7c7;
}
.mostrador .fila .item:hover{
    box-shadow: 1px 1px 5px rgb(93, 255, 93);
    background-color: black;
    color: whitesmoke;
}
.mostrador .fila .item img{
    width: 150px;
    height: 150px;
    margin: 30px 0;
}
.mostrador .fila .item .descripcion{
    color: #706d6d;
    font-weight: bold;
}
.mostrador .fila .item .precio{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

.mostrador .fila a{
    text-decoration: none;
    color: #666666;
}

.seleccion{
    transition: .5s ease;
    opacity: 0;
    width: 0%;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.cerrar{
    position: absolute;
    right: 0;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.info{
    padding: 20px;
}
.info img{
    display: block;
    margin: 30px auto;
    width: 80%;
}
.info h2{
    color: #707070;
    margin-bottom: 10px;
}
.info p{
    font-size: 14px;
    color: #707070;
    margin-bottom: 10px;
}
.info .precio{
    font-size: 30px;
    font-weight: bold;
    color: #f85151;
    margin-bottom: 10px;
    display: block;
}
.info .fila{
    display: flex;
    align-items: flex-end;
}
.info .fila label{
    display: block;
    margin-bottom: 10px;
}
.info .fila select{
    width: 100px;
    font-size: 18px;
    padding: 6px;
    margin-right: 30px;
}
.info .fila button{
    height: 40px;
    border: none;
    padding: 0 10px;
    color: #fff;
    background-color: #f85151;
}
