<!DOCTYPE html>
<html lang="es">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles5.css') }}" />
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="logform">
            <form method="POST" class="mt-4">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                {{ form.hidden_tag() }}
                <h1>Inicio de sesión</h1>
                <br>
                <div class="form-group">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control", placeholder="Ingrese su usuario") }}
                    {% for error in form.username.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control", placeholder="Ingrese su contraseña") }}
                    {% for error in form.password.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
                <p class="message">¿Aún no se ha registrado? <a href="/register">Cree una cuenta aquí</a></p>
            </form>
        </div>
        <div class="imagenlogin">
            <img src = "/static/images/carrousel/Carrusel3.png">
        </div>
    </div>
</body>
</html>
