<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="stylesheet" href="style.css" />

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Sobre Nosotros | Search n' Save</title>
  </head>

  <body>
    <nav>
      <div class="logo">
        <img src="static/images/logo-chatbot.png" />
        <a href="/">Search n' Save</a>
      </div>
      <div class="nav-links">
        <a href="/">Home</a>
        <a href="/catalogos">Tiendas</a>
        <a href="/sobrenosotros">Sobre Nosotros</a>
        <a href="/register">Registro</a>
      </div>
      <div class="icon">
        {% if 'username' in session %}
        <a href="{{ url_for('edit_profile') }}">
          <img
            src="{{ url_for('static', filename='user_icon.png') }}"
            alt= "{{session["username"]}}"
            title="Cerrar sesión"
          />
        </a>
        {% else %}
        <a href="{{ url_for('login') }}">
          <img
            src="{{ url_for('static', filename='guest_icon.png') }}"
            alt="Invitado"
            title="Iniciar sesión"
          />
        </a>
        {% endif %}
      </div>
    </nav>

    <h1 class="page-title">¿Quiénes somos?</h1>

    <div class="content">
      <div class="container">
        <img src="static/images/Profile.png" />
        <div class="about">
          <p>
            Somos una empresa enfocada a brindar información de precios
            actualizada para que las personas puedan realizar sus compras de
            manera más eficiente y ahorrativa, comparando los precios de
            productos en tiempo real en diferentes hipermercados como Tottus,
            Metro, Plaza Vea, etc.
          </p>
        </div>
      </div>
    </div>

    <footer>
      <div class="socials">
        <i class="bx bxl-facebook-square"></i>
        <i class="bx bxl-instagram"></i>
        <i class="bx bxl-twitter"></i>
        <i class="bx bxl-linkedin-square"></i>
      </div>
      <p>Copyright ©2024, Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
